<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Page title and .css file link -->
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		
		
	</head>
	
	<!-- Main body code, front page code -->
	<body>
    
</body>

<!-- Footer -->
<footer>
    <div id="footer">
       <p>© 2025 Lock Bound - The Web-Based Game. Created by Dan Ferguson, Joseph Fanning, Adam Wright, Aden Barr, Azaan Majeed, Euan Tennant</p> 
    </div>
</footer>
</html>