<!DOCTYPE html>
<html>
<head>




    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css"/>

    <meta charset="UTF-8" />
	<script type="text/javascript" src="java.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Home</title>
</head>

<body>
    <header>
        <div class="header-content">
			<img src="{{ url_for('static', filename='images/edclark.jpg') }}" alt="LockBound Logo" />
            <span>LockBound - Edward Clark Collection</span>
            
        </div>

		
		<!-- Dropdown Menu -->
        <div class="dropdown">
            <button class="dropbtn">...</button>
            <div class="dropdown-content">
                <a href="{{ url_for('wiki') }}">Wiki</a>
				<a href="{{ url_for('minigames') }}">Minigames</a>
				<a href="{{ url_for('inventory') }}">Inventory</a>
				
            </div>
        </div>
		
		 <div class="auth-container">
			
        <!-- Authentication Container -->
		<div class="auth-container">
            <!-- Profile Icon -->
            <div class="profile-icon">
                <img src="{{ url_for('static', filename='images/pfp.png') }}"/>
            </div>
            
            <!-- Login Section -->
            <input type="text" id="loginUsername" placeholder="Enter username" required>
            <input type="password" id="loginPassword" placeholder="Enter password" required>

            <button type="button" onclick="login()">Login</button>
            <div id="loginMessage"></div>

            <a href="{{ url_for('signup') }}">
                <button type="button">Sign Up</button>
            </a>
        </div>
		
	
		


    </header>
	<div class="search-bar">
	<!-- Search Bar with Button -->
        <form method="GET" action="{{ url_for('search') }}" id="nav">
            <input type="text" id="Search" name="q" placeholder="Search">
            <button type="submit" id="SrchBtn">Search</button>
        </form>
		</div>


   <!-- Menu -->
   <div class="horizontal-menu">
    <h2>Explore More</h2>
    <div class="menu-items">
        <div class="menu-item">
            <a href="{{ url_for('inventory') }}">
                <h3>Inventory</h3>
                <img src="{{ url_for('static', filename='images/inv.png') }}" alt="Inventory">
            </a>
        </div>
        <div class="menu-item">
            <a href="{{ url_for('wiki') }}">
                <h3>Wiki</h3>
                <img src="{{ url_for('static', filename='images/wiki.png') }}" alt="Wiki">
            </a>
        </div>
        <div class="menu-item">
            <a href="{{ url_for('minigames') }}">
                <h3>Minigames</h3>
                <img src="{{ url_for('static', filename='images/game.png') }}" alt="Minigames">
            </a>
        </div>
    </div>
</div>


   

	

    
    	<br><br>
<hr>
     <br><br>
    <footer>&copy; 2025 Lock Bound - The Web-Based Game - Created by Dan Ferguson, Joseph Fanning, Adam Wright, Aden Barr, Azaan Majeed, Euan Tennant</footer>
	
	<br>
</body>
</html>
