<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css"/>
    <meta charset="UTF-8" />
	<script type="text/javascript" src="java.js"></script>
    <title>Untitled Document</title>
</head>


<body>
    <header>
        <div class="header-content">
			<img src="{{ url_for('static', filename='images/edclark.jpg') }}" alt="LockBound Logo" />
            <span>LockBound - Edward Clark Collection</span>
            
        </div>

		
		<!-- Dropdown Menu -->
        <div class="dropdown">
            <button class="dropbtn">...</button>
            <div class="dropdown-content">
                <a href="">Wiki</a>
				<a href="{{ url_for('minigames') }}">Minigames</a>
				<a href="{{ url_for('home') }}">Home</a>
            </div>
        </div>
		
		 <div class="auth-container">
			
        <!-- Authentication Container -->
		<div class="auth-container">
            <!-- Profile Icon -->
            <div class="profile-icon">
                <img src="pfp.png"/>
            </div>
            
            <!-- Login Section -->
            <input type="text" id="loginUsername" placeholder="Enter username" required>
            <input type="password" id="loginPassword" placeholder="Enter password" required>

            <button type="button" onclick="login()">Login</button>
            <div id="loginMessage"></div>

            <a href="{{ url_for('signup') }}">
                <button type="button">Sign Up</button>
            </a>
        </div>


    </header>
	<div class="search-bar">
	<!-- Search Bar with Button -->
        <form method="GET" action="{{ url_for('search') }}" id="nav">
            <input type="text" id="Search" name="q" placeholder="Search">
            <button type="submit" id="SrchBtn">Search</button>
        </form>
		</div>
   <hr>
  

   

	
	<br><br>
    <br><br>
	<hr>
    <footer>&copy; 2025 Lock Bound - The Web-Based Game - Created by Dan Ferguson, Joseph Fanning, Adam Wright, Aden Barr, Azaan Majeed, Euan Tennant</footer>
	
	<br>
</body>
</html>

